body {
    font-family: 'Lato', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #333;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    color: #333;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-top: 0;
    color: #333;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
    line-height: 1.5;
}

ul {
    list-style: none;
    padding: 0;
}


li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #23527c;
}

a:hover {
    color: #23527c;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #337ab7;
    padding: 10px;
}

nav a {
    font-size: 24px;
    color: #fff;
}

nav a:hover {
    color: #ccc;
}

